

.section-games h2{
text-align: center;
}


.page-header{
  background-color: #1B262C;
  max-width: 100% !important;
  padding: 0px 15% !important;
}



.global-button{
width:80%;

}
.links li {
  font-size: 14px !important;
}
.products-grid .product-info{
  padding-bottom: 0px !important;
}
.section-featured, .section-games, .section-category{
  padding: 2vw 0px;
}
.section-games h2{
font-size:50px;
  margin:auto;
  }
.games-column, .games-row{
display: flex;
flex-wrap: wrap;
text-align:center;
width: 100%;
}
.section-featured img, .games-column img, .category-column img, .category-products img, .games-row img{
  width:100%;
  height: 100%;
}
.games-column a{
height: 80%;
}
.flex-colm{
display: flex;
flex-direction: column;
}
.games-column .flex-colm, .games-row .flex-colm{
  padding: 15px;
}

  .pager{
    float: unset !important;
  }

  .price-box .old-price{
    margin: 0px;
  }
  .price-box .special-price{
    padding-left:0px !important;
  }
  /*
  Global Class:

  global-section
  global-row
  global-column
  global-button
  
  */

  .product-img-box  img{
    width: 100%;
margin: auto;
    height: auto !important;
  }
  .product-img-box, .product-shop{
width: 100% !important;
  }
  .product-view .product-shop .extra-info{
    max-width: 100% !important;
    width: 100% !important;
  }
  
  .extra-info{
overflow: scroll;
overflow-x: hidden;
overflow-y: auto;
height: 250px;
  }